<template>
  <div>
    <v-footer class="pa-3">
      <v-spacer />
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>