<template>
  <div>
    <Header/>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <Footer/>
  </div>
</template>

<script>
import Header from "../components/header.vue";
import Footer from "../components/footer.vue";
export default {
  components: {
    Header,
    Footer
  },
  data() {
    return {};
  }
};
</script>